{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block main %}
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Cloud Map Service{% endblock %}</title>
        <style>
            #loader {
                background: #3192C8;

                height: 100%;
                width: 100%;
                position: fixed;
                z-index: 90000;
                left: 0%;
                top: 0%;
                opacity: .75;

            }
            .sk-three-bounce {
                position: absolute;
                top: 50%;
                margin-top: -10px;
                left: 50%;
                margin-left: -40px;
                width: 80px;
                text-align: center;
            }

            .sk-three-bounce .sk-child {
                width: 20px;
                height: 20px;
                background-color: #FFF;
                border-radius: 100%;
                display: inline-block;
                -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
                animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
            }

            .sk-three-bounce .sk-bounce1 {
                -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s;
            }

            .sk-three-bounce .sk-bounce2 {
                -webkit-animation-delay: -0.16s;
                animation-delay: -0.16s;
            }

            @-webkit-keyframes sk-three-bounce {
                0%, 80%, 100% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }

                40% {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }

            @keyframes sk-three-bounce {
                0%, 80%, 100% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                40% {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
        </style>
        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/mygrid.css' %}" rel="stylesheet" type="text/css">
        <!--<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'select2/select2.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'select2/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" type="text/css">
        <style>.node {
            background-color: blue;
        }.static-top {
            position: fixed;
            z-index: 2;
        }#pagina {
            margin-top: 150px;
        }
        </style>

    </head>
{% endblock %}
{% block menu %}
    <body id="page-top">
        <div id="loader">
            <div class="sk-three-bounce">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
        </div>

    <!-- Page Wrapper -->
    <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
{% endblock %}

{% block header %}
    <!-- Main Content -->
    <div id="content">

    <!-- Topbar -->
    <nav style="width: 100%;" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        {% block nuageo_logo %} <!-- Nav Item - User Information -->
        <a href="https://www.nuageo.fr">
            
                <img class="img-profile "  src="{% static '/img/nuageo_logo.png' %}" style="width: 4em; float: left;">
        
                <!--montrer l'anée actuelle-->
                <h3>Cloud Service Map : {% now 'Y' %}</h3>
                
        </a>
        {% endblock %}

        <!-- Topbar Navbar -->
        {% block nav %}
        <ul class="navbar-nav ml-auto" style="margin-top: -25px;">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">

                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                     aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Search for..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Nav Item - Alerts -->


            <!-- Nav Item - Messages -->
            <a href="/CSM/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                style="height: 36px;margin-top: 18px;" type="button"><em class="fa fa-search"></em>

            </a>
            
            <div class="topbar-divider d-none d-sm-block" style="margin-top: 18px"></div>

             <button class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm" id="print_import"
                    style="height: 36px;margin-top: 18px; margin-right: 20px" type="button"><em class="fa fa-upload"></em>
            </button>
            
            <button class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm" id="print_btn" 
                    style="height: 36px;margin-top: 18px; margin-right: 20px" type="button"><em class="fa fa-print"></em>
            </button>
            
            <button class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm" id="alternate_width_list_table_btn" 
                    style="height: 36px;margin-top: 18px; margin-right: 20px" type="button"><em class="fa fa-compress-arrows-alt"></em>
            </button>
            <button class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm" id="alternate_columns_list_table_btn" 
                    style="height: 36px;margin-top: 18px;" type="button"><em class="fa fa-list"></em>
            </button>
            <div class="topbar-divider d-none d-sm-block" style="margin-top: 18px"></div>
            <a href="/admin/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                style="height: 36px;margin-top: 18px;" type="button"><em class="fa fa-user"></em>

            </a>

            
        </ul>
        {% endblock %}

    </nav>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">

    </div>
{% endblock %}

{% block apres_header %}
    <!-- Content Row -->

{% endblock %}
{% block body %}
    <div class="container-fluid" id="pagina" style="overflow-x: auto; padding:5px">
        {% include 'includes/grid_view.html' %}
    </div>

{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                © NUAGEO {% now 'Y' %}

            </div>
        </div>
    </footer>
    <!-- End of Footer -->

{% endblock %}
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% block js %}
    <!-- Bootstrap core JavaScript-->
    <script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src=" {% static 'js/jspdf.min.js' %}"></script>
    <script src=" {% static 'js/html2canvas.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/printThis.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var flag_toggle = {% if trees|length > 2 %}false{% else %}true{% endif %};
            $('#alternate_width_list_table_btn').click(function () {
                if(flag_toggle) {
                    $('em',$(this)).removeClass('fa-expand-arrows-alt').addClass('fa-compress-arrows-alt')
                    $("#content_list_table").css('width','85cm')
                } else {
                    $('em',$(this)).removeClass('fa-compress-arrows-alt').addClass('fa-expand-arrows-alt')
                    $("#content_list_table").css('width','100%')
                }
                flag_toggle = !flag_toggle;
            });
            var flag_toggle_1 = false;
            $('#alternate_columns_list_table_btn').click(function () {
                if(flag_toggle_1) {
                    $('em',$(this)).removeClass('fa-columns').addClass('fa-list')
                    $("div.tree").removeClass('full-width')
                } else {
                    $('em',$(this)).removeClass('fa-list').addClass('fa-columns')
                    $("div.tree").addClass('full-width')
                }
                flag_toggle_1 = !flag_toggle_1;
            });

            var loader = document.getElementById('loader');
            var trees = document.getElementById('content_list_table');
            var $top_trees = $("#content_list_table .tree").eq(0);
            var $topbar = $('nav.topbar');
            var $top_menu = $('ul',$topbar);
            var $top_page = $('#content>.container-fluid');
            
            $('#print_btn').click(function () {
                //mostrando el loader
                $(loader).fadeIn('fast');
                //insertando topbar en trees
                console.log($topbar);
                $topbar.removeClass('shawdow').removeClass('static-top');
                $topbar.insertBefore($top_trees);
                    // .css('width','130%');
                $top_menu.hide();
                // $top_trees.css('background-color','')

                html2canvas(trees).then(canvas => {
                    // document.body.appendChild(canvas)
                    var imgData = canvas.toDataURL(
                            'image/png'); 
                    var orientation = canvas.width>canvas.height?'l':'p';
                    var size = { width: 0, height: 0};
                    if(orientation == 'l') {
                        size.width = canvas.width - (flag_toggle?290:780)
                        size.height = canvas.height - 250
                    } else  {
                        size.width = canvas.width - (flag_toggle?290:780)
                        size.height = canvas.height - 1000
                    }
                    console.log(size);
                    
                    var doc = new jsPDF({
                        orientation: orientation,
                        unit: 'px',
                        // format: [canvas.width-(flag_toggle?0:780),canvas.height-(flag_toggle?0:800)],
                        format: [size.width ,size.height],
                        putOnlyUsedFonts:true,
                        floatPrecision: 14 // or "smart", default is 16
                    });
                    doc.addImage(imgData, 'PNG', 5, 5);
                    doc.save('nuageocloudservicemap-report.pdf');
                    
                    //volviendo todo al estado antes de imprimir
                    setTimeout(function() {
                        $topbar.addClass('shawdow').addClass('static-top');
                        $topbar.insertBefore($top_page);
                            // .css('width','110%');
                        $top_menu.show();
                        $(loader).fadeOut('fast');
                    },2000)
                });
                // $('#pagina').printThis({
                //     header: "<h1>HOLA JE SUIS LE CLOUD MAP</h1>",
                //     debug: false,               // show the iframe for debugging
                //     importCSS: true,            // import parent page css
                //     importStyle: true,         // import style tags
                //     printContainer: true,       // print outer container/$.selector
                // });
            });
            $(loader).fadeOut('fast');
        });
        </script>
    <!-- Custom scripts for all pages-->
    <!-- <script src="{% static 'js/sb-admin-2.min.js' %}"></script> -->

    
    

{% endblock %}
</body>

</html>
